Repository kws-projects/portfolio-react-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.css": ["prettier --write"],
  "*.{ts,tsx,js}": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"]
}

chore(PP-78): update dependencies
  package-lock.json
  package.json
Due: prettier --write

docs(PP-80): update read me
  README.md
Due: none

feat(PP-63): add blog skeleton and update component style
  src/components/ContactPortal/index.tsx
  src/components/ui/Button/Button.tsx
  src/components/ui/Card/BlogCard.tsx
Due: prettier --write, eslint --fix

feat(PP-63): add blogs loading and error handling
  src/components/ui/Grid/BlogGrid.tsx
  src/pages/Blogs/index.tsx
  src/utils/i18n/en.ts
Due: prettier --write, eslint --fix

feat(PP-63): add blog node loading and error handling
  src/components/ui/Block/BlogNodeBlock.tsx
  src/components/ui/Card/BlogCard.tsx
  src/pages/BlogPost/index.tsx
  src/utils/i18n/en.ts
Due: prettier --write, eslint --fix

chore(PP-84): update skill items
  src/data/skills.ts
Due: prettier --write, eslint --fix

chore(PP-87): update-about-documents
  src/data/navItems.ts
Due: prettier --write, eslint --fix

chore(PP-83): update packages without breaking change
  package-lock.json
Due: prettier --write

feat(PP-83): add nvmrc
  .nvmrc
Due: none

fix(PP-83): update packages without breaking change
  package-lock.json
Due: prettier --write

fix(PP-83): update react-i18next
  package-lock.json
  package.json
Due: prettier --write

fix(PP-83): update prettier
  package-lock.json
  package.json
Due: prettier --write

fix(PP-83): update ws
  package-lock.json
Due: prettier --write

fix(PP-83): update tailwindcss
  package-lock.json
Due: prettier --write

fix(PP-83): update package lock
  package-lock.json
Due: prettier --write

fix(PP-83): override nth check and postcss to resolve vulnerability
  package-lock.json
  package.json
Due: prettier --write

chore(PP-82): update work items
  src/data/works.ts
Due: prettier --write, eslint --fix

feat(PP-92): update blog loading skeleton
  src/components/ui/Block/BlogNodeBlock.tsx
  src/pages/BlogPost/index.tsx
Due: prettier --write, eslint --fix

feat(PP-90): install framer-motion
  package-lock.json
  package.json
Due: prettier --write

feat(PP-90): applying animation effect to components
  src/components/WorkShowcase/index.tsx
  src/components/ui/Section/index.tsx
Due: prettier --write, eslint --fix

feat(PP-90): applying animation effect to existing pages
  src/pages/About/index.tsx
  src/pages/Home/index.tsx
  src/pages/Works/index.tsx
Due: prettier --write, eslint --fix

feat(PP-90): applying animation effect to components
  src/pages/About/SelfIntro/index.tsx
  src/pages/Home/Banner/index.tsx
Due: prettier --write, eslint --fix

fix(PP-95): fix duplicated component id issue
  src/components/ui/Grid/BlogGrid.tsx
  src/data/skills.ts
Due: prettier --write, eslint --fix

feat(PP-98): display release version
  src/components/Footer/Version/index.tsx
  src/components/Footer/index.tsx
Due: prettier --write, eslint --fix

fix(PP-96): fix unsafe component will mount issue
  package-lock.json
  package.json
  src/index.tsx
  src/pages/About/index.tsx
  src/pages/BlogPost/index.tsx
  src/pages/Blogs/index.tsx
  src/pages/Contact/index.tsx
  src/pages/Home/index.tsx
  src/pages/NotFound/index.tsx
  src/pages/Privacy/index.tsx
  src/pages/Terms/index.tsx
  src/pages/Works/index.tsx
Due: prettier --write, eslint --fix

refactor(PP-88): refactor configs and constants
  src/config/index.ts
  src/constant/appEnv.ts
  src/constant/externalUrl.ts
  src/constant/gaEvent.ts
  src/constant/index.ts
Due: prettier --write, eslint --fix

refactor(PP-88): refactor component with new configs and constants
  src/components/ContactPortal/index.tsx
  src/components/Footer/Version/index.tsx
  src/components/ui/Card/BlogCard.tsx
  src/index.tsx
  src/pages/About/SelfIntro/index.tsx
  src/pages/Home/Banner/tabs/AboutSelf.tsx
  src/services/portfolioSvc/apiClient.ts
Due: prettier --write, eslint --fix

refactor(PP-88): refactor navbar and footer
  src/components/Footer/index.tsx
  src/components/Footer/menuMap.ts
  src/components/Header/Navbar/index.tsx
  src/components/Header/Navbar/menuMap.ts
  src/data/navItems.ts
Due: prettier --write, eslint --fix

fix(PP-99): fix helmet config
  public/index.html
Due: none

chore: update work items
  src/data/works.ts
Due: prettier --write, eslint --fix

fix: server side request forgery in axios
  package-lock.json
Due: prettier --write

feat(PP-89): add page indicator
  src/components/Header/Navbar/index.tsx
  src/components/Header/Navbar/menuMap.ts
Due: prettier --write, eslint --fix

feat(PP-89): add tab indicator
  src/constant/tab.ts
  src/pages/Home/Banner/BannerCard.tsx
  src/pages/Home/Banner/index.tsx
Due: prettier --write, eslint --fix

feat(PP-89): update indicator transition
  src/components/Header/Navbar/index.tsx
  src/pages/Home/Banner/BannerCard.tsx
Due: prettier --write, eslint --fix

fix: remove indicator on mobile screen
  src/components/Header/Navbar/index.tsx
Due: prettier --write, eslint --fix

fix(PP-97): remove extra home banner card style
  src/pages/Home/Banner/BannerCard.tsx
Due: prettier --write, eslint --fix

feat: setup github action ci
  .github/workflows/github-ci.yml
Due: none

chore: update npm packages
  package-lock.json
Due: prettier --write

chore: update npm packages
  package-lock.json
  package.json
Due: prettier --write
