Repository kws-projects/portfolio-react-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(PP-146): update node packages
  .github/workflows/github-ci.yml
  .nvmrc
  Dockerfile
  package.json
  yarn.lock
Due: prettier --write

chore(PP-146): update node packages without breaking changes
  package.json
  yarn.lock
Due: prettier --write

chore(PP-146): update monaco editor package
  package.json
  yarn.lock
Due: prettier --write

chore(PP-146): update node packages (#80)
  .github/workflows/github-ci.yml
  .nvmrc
  Dockerfile
  package.json
  yarn.lock
Due: prettier --write

chore(PP-148): update project readme
  README.md
Due: none

chore(PP-148): update readme format
  README.md
Due: none

Chore/pp 148 update project readme (#82)
  README.md
Due: none

ci: bump version to v1.2.1
  package.json
Due: prettier --write

chore(PP-158): update cv url
  src/components/Footer/menuMap.ts
  src/config/index.ts
Due: prettier --write, eslint --fix

chore: remove dead code and optmize page performance
  src/components/sketches/ConstellationSketch/index.tsx
  src/components/sketches/DotGridSketch/index.tsx
  src/components/sketches/FlowFieldSketch/index.tsx
  src/components/sketches/NotFoundSketch/index.tsx
  src/components/sketches/Playground/index.tsx
  src/components/sketches/TerminalSketch/index.tsx
  src/components/sketches/WalkerBackgroundSketch/index.tsx
  src/components/sketches/WaveLineSketch/index.tsx
  src/constant/tab.ts
  src/utils/theme.ts
Due: prettier --write, eslint --fix

feat: translation support
  package.json
  src/components/Footer/index.tsx
  src/components/Footer/menuMap.ts
  src/components/Header/Navbar/index.tsx
  src/components/Header/Navbar/menuMap.ts
  src/components/LanguageSwitcher.tsx
  src/components/ui/Timeline/index.tsx
  src/constant/work.ts
  src/data/certifications.ts
  src/data/education.ts
  src/data/workExperience.ts
  src/data/works.ts
  src/hooks/useWorkFilter.ts
  src/pages/About/index.tsx
  src/pages/Blogs/index.tsx
  src/pages/Contact/index.tsx
  src/pages/Home/BentoSection.tsx
  src/pages/Home/FeaturedSection.tsx
  src/pages/Home/Hero.tsx
  src/pages/NotFound/index.tsx
  src/pages/Works/index.tsx
  src/types/menu.ts
  src/types/timeline.ts
  src/utils/common/index.ts
  src/utils/i18n/en.ts
  src/utils/i18n/index.ts
  src/utils/i18n/ja.ts
  src/utils/i18n/zh-TW.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: arabic and rtl support
  src/App.tsx
  src/components/ContactPortal/index.tsx
  src/components/Footer/index.tsx
  src/components/Header/Navbar/index.tsx
  src/components/Header/index.tsx
  src/components/InteractiveTerminal/index.tsx
  src/components/LanguageSwitcher.tsx
  src/components/TerminalOverlay/index.tsx
  src/components/ui/Timeline/index.tsx
  src/data/certifications.ts
  src/data/education.ts
  src/data/workExperience.ts
  src/data/works.ts
  src/hooks/useDirection.ts
  src/main.tsx
  src/pages/About/index.tsx
  src/pages/Home/BentoSection.tsx
  src/pages/Home/FeaturedSection.tsx
  src/pages/Home/Hero.tsx
  src/pages/NotFound/index.tsx
  src/utils/i18n/ar.ts
  src/utils/i18n/index.ts
Due: prettier --write, eslint --fix

chore: use package version
  src/config/index.ts
  src/vite-env.d.ts
  vite.config.ts
Due: prettier --write, eslint --fix

fix: ci errors
  tsconfig.app.json
  tsconfig.json
Due: prettier --write

feat: update page content and fine tune style
  src/components/Footer/index.tsx
  src/components/Header/Navbar/index.tsx
  src/components/sketches/PageTitleSketch/index.tsx
  src/components/ui/LegalContent/index.tsx
  src/components/ui/Section/index.tsx
  src/components/ui/Timeline/index.tsx
  src/data/legal.ts
  src/data/skills.ts
  src/data/workExperience.ts
  src/index.css
  src/pages/About/index.tsx
  src/pages/BlogPost/index.tsx
  src/pages/Blogs/index.tsx
  src/pages/Contact/index.tsx
  src/pages/Home/BentoSection.tsx
  src/pages/Home/FeaturedSection.tsx
  src/pages/Home/Hero.tsx
  src/pages/NotFound/index.tsx
  src/pages/Privacy/index.tsx
  src/pages/Terms/index.tsx
  src/pages/Works/index.tsx
  src/utils/i18n/ar.ts
  src/utils/i18n/en.ts
  src/utils/i18n/ja.ts
  src/utils/i18n/zh-TW.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

feat: blog page styling
  src/components/ui/Block/BlogNodeBlock.tsx
  src/components/ui/CodeEditor/index.tsx
  src/index.css
  src/pages/About/index.tsx
  src/pages/BlogPost/index.tsx
Due: prettier --write, eslint --fix

fix: update helmet when navigate to every page
  src/components/Footer/Version/index.tsx
  src/hooks/usePageTitle.tsx
  src/index.css
Due: prettier --write, eslint --fix

style: fine tuning website style
  src/components/Footer/Version/index.tsx
  src/components/Footer/index.tsx
  src/components/Header/Navbar/index.tsx
  src/components/Header/index.tsx
  src/components/LanguageSwitcher.tsx
  src/components/TerminalOverlay/index.tsx
  src/components/ui/Block/BlogNodeBlock.tsx
  src/components/ui/Card/BlogCard.tsx
  src/components/ui/Timeline/index.tsx
  src/index.css
  src/pages/About/index.tsx
  src/pages/BlogPost/index.tsx
  src/pages/Contact/index.tsx
  src/pages/Home/BentoSection.tsx
  src/pages/Home/FeaturedSection.tsx
  src/pages/Home/Hero.tsx
  src/pages/Works/index.tsx
Due: prettier --write, eslint --fix

style: fine tuning style for tech stack image display
  src/pages/About/index.tsx
  src/pages/Home/BentoSection.tsx
Due: prettier --write, eslint --fix

feat: test setup and test coverage
  .github/workflows/github-ci.yml
  package.json
  src/components/Footer/__tests__/__snapshots__/menuMap.test.ts.snap
  src/components/Footer/__tests__/menuMap.test.ts
  src/components/Header/Navbar/__tests__/__snapshots__/menuMap.test.ts.snap
  src/components/Header/Navbar/__tests__/menuMap.test.ts
  src/components/ui/Button/__tests__/Button.test.tsx
  src/components/ui/ErrorState/__tests__/ErrorState.test.tsx
  src/config/__tests__/index.test.ts
  src/constant/__tests__/appEnv.test.ts
  src/constant/__tests__/externalUrl.test.ts
  src/constant/__tests__/gaEvent.test.ts
  src/constant/__tests__/work.test.ts
  src/data/__tests__/certifications.test.ts
  src/data/__tests__/education.test.ts
  src/data/__tests__/legal.test.ts
  src/data/__tests__/skills.test.ts
  src/data/__tests__/socialLinks.test.ts
  src/data/__tests__/workExperience.test.ts
  src/data/__tests__/works.test.ts
  src/hooks/__tests__/useNavbarToggle.test.ts
  src/hooks/__tests__/useTheme.test.ts
  src/test/setup.ts
  src/utils/common/__tests__/index.test.ts
  tsconfig.app.json
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

ci: bump version to 2.0.0
  package.json
Due: prettier --write

fix: fix v2 unexpected styling issues
  src/components/Header/Navbar/index.tsx
  src/components/LanguageSwitcher.tsx
  src/components/TerminalOverlay/index.tsx
  src/components/sketches/TerminalSketch/index.tsx
  src/pages/Contact/index.tsx
  src/pages/Home/Hero.tsx
Due: prettier --write, eslint --fix

ci: bump version 2.0.1
  package.json
Due: prettier --write

chore: update package version and resolve dependency
  package.json
  src/components/ui/Block/__tests__/BlogNodeBlock.test.tsx
  src/components/ui/Card/__tests__/BlogCard.test.tsx
  src/components/ui/Grid/__tests__/BlogGrid.test.tsx
  src/constant/appEnv.ts
  tsconfig.app.json
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update required node version
  .github/workflows/github-ci.yml
  .nvmrc
  Dockerfile
Due: none

fix: ga4 data layer format
  .github/workflows/release.yml
  src/lib/analytics.ts
  src/types/global.d.ts
Due: prettier --write, eslint --fix

feat: cms support
  src/components/blog/MermaidCodeBlock.tsx
  src/components/ui/Grid/BlogGrid.tsx
  src/hooks/__tests__/useBlogs.test.ts
Due: prettier --write, eslint --fix

feat: optmize uiux
  .cursor/rules/project-structure.mdc
  README.md
  src/components/ui/Card/BlogCard.tsx
  src/components/ui/Grid/BlogGrid.tsx
  src/components/ui/Grid/__tests__/BlogGrid.test.tsx
  src/components/ui/LegalContent/__tests__/LegalContent.test.tsx
  src/components/ui/LegalContent/index.tsx
  src/constant/__tests__/externalUrl.test.ts
  src/constant/externalUrl.ts
  src/pages/Blogs/index.tsx
  src/pages/Home/FeaturedSection.tsx
  src/pages/Works/index.tsx
  src/services/api/__tests__/mappers.test.ts
  src/services/api/mappers.ts
  src/utils/i18n/locales/ar.ts
  src/utils/i18n/locales/en.ts
  src/utils/i18n/locales/ja.ts
  src/utils/i18n/locales/zh-TW.ts
Due: prettier --write, eslint --fix

fix: always render featured works section on home page
  src/pages/Home/FeaturedSection.tsx
Due: prettier --write, eslint --fix

fix: open featured work cards in new tab
  src/pages/Home/FeaturedSection.tsx
Due: prettier --write, eslint --fix

fix: open work in new tab
  src/pages/Works/index.tsx
Due: prettier --write, eslint --fix

fix: blog post rendering color issue
  package.json
  src/components/blog/TiptapRenderer.tsx
  yarn.lock
Due: prettier --write, eslint --fix

feat: uiux enhacement
  src/components/blog/MermaidDiagram.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts,tsx,js})) or (any of: *.json)
  eslint --fix: any of: *.{ts,tsx,js}
