Repository kws-projects/portfolio-react-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: update npm packages (#49)
  package-lock.json
  package.json
Due: prettier --write

refactor(PP-127): refactor p5 sketches to tsx
  package-lock.json
  package.json
  src/components/sketches/HomeBackgroundSketch/index.tsx
  src/components/sketches/PageTitleSketch/index.tsx
  src/components/sketches/Playground/index.tsx
  src/components/sketches/WalkerBackgroundSketch/index.tsx
Due: prettier --write, eslint --fix

refactor(PP-127): refactor p5 sketches to tsx (#50)
  package-lock.json
  package.json
  src/components/sketches/HomeBackgroundSketch/index.tsx
  src/components/sketches/PageTitleSketch/index.tsx
  src/components/sketches/Playground/index.tsx
  src/components/sketches/WalkerBackgroundSketch/index.tsx
Due: prettier --write, eslint --fix

docs: update readme file
  README.md
Due: none

docs: update readme file (#51)
  README.md
Due: none

style(PP-129): update md display style
  src/index.css
Due: prettier --write

style(PP-129): update md display style (#52)
  src/index.css
Due: prettier --write

fix(PP-128): page title sketch text wrapping handling fix
  src/components/sketches/PageTitleSketch/index.tsx
Due: prettier --write, eslint --fix

refactor(PP-130): refactor import with absolute path
  src/components/ContactPortal/index.tsx
  src/components/Footer/Version/index.tsx
  src/components/Footer/index.tsx
  src/components/Footer/menuMap.ts
  src/components/Header/Navbar/menuMap.ts
  src/components/SkillShowcase/index.tsx
  src/components/WorkShowcase/index.tsx
  src/components/ui/Block/BlogNodeBlock.tsx
  src/components/ui/Card/BlogCard.tsx
  src/components/ui/Grid/BlogGrid.tsx
  src/components/ui/Timeline/index.tsx
  src/constant/appEnv.ts
  src/data/certifications.ts
  src/data/education.ts
  src/data/workExperience.ts
  src/hooks/usePageTitle.tsx
  src/hooks/useWorkCategory.tsx
  src/layout/index.tsx
  src/pages/About/SelfIntro/index.tsx
  src/pages/About/index.tsx
  src/pages/BlogPost/index.tsx
  src/pages/Blogs/index.tsx
  src/pages/Contact/index.tsx
  src/pages/Home/Banner/BannerCard.tsx
  src/pages/Home/Banner/index.tsx
  src/pages/Home/Banner/tabs/AboutSelf.tsx
  src/pages/Home/Banner/tabs/FeaturedWorks.tsx
  src/pages/Home/index.tsx
  src/pages/NotFound/index.tsx
  src/pages/Privacy/index.tsx
  src/pages/Terms/index.tsx
  src/pages/Works/index.tsx
  src/services/portfolioSvc/apiClient.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat(PP-61): add 404 not found page
  src/components/sketches/HomeBackgroundSketch/index.tsx
  src/components/sketches/NotFoundSketch/index.tsx
  src/components/sketches/PageTitleSketch/index.tsx
  src/components/sketches/Playground/index.tsx
  src/components/sketches/WalkerBackgroundSketch/index.tsx
  src/pages/NotFound/index.tsx
Due: prettier --write, eslint --fix

feat(PP-61): add 404 not found page
  src/components/sketches/NotFoundSketch/index.tsx
Due: prettier --write, eslint --fix

Feat(PP-61): add 404 not found page (#56)
  src/components/sketches/HomeBackgroundSketch/index.tsx
  src/components/sketches/NotFoundSketch/index.tsx
  src/components/sketches/PageTitleSketch/index.tsx
  src/components/sketches/Playground/index.tsx
  src/components/sketches/WalkerBackgroundSketch/index.tsx
  src/pages/NotFound/index.tsx
Due: prettier --write, eslint --fix

fix: fix page title sketch undefined handling
  src/components/sketches/PageTitleSketch/index.tsx
Due: prettier --write, eslint --fix

chore(PP-132): optmize slow use effect hook
  package-lock.json
  package.json
  src/components/WorkShowcase/index.tsx
  src/hooks/usePageTitle.tsx
  src/hooks/useWorkCategory.tsx
Due: prettier --write, eslint --fix

refactor(PP-133): refactor works showcase category selection logic
  package-lock.json
  package.json
  src/components/Footer/menuMap.ts
  src/components/Header/Navbar/menuMap.ts
  src/components/WorkShowcase/index.tsx
  src/constant/work.ts
  src/data/works.ts
  src/hooks/useWorkCategory.tsx
  src/pages/Home/index.tsx
  src/pages/Works/index.tsx
Due: prettier --write, eslint --fix

refactor(PP-133): refactor works showcase category selection logic
  src/components/WorkShowcase/index.tsx
Due: prettier --write, eslint --fix

refactor(PP-133): refactor works showcase category selection logic
  src/components/Header/Navbar/menuMap.ts
Due: prettier --write, eslint --fix

refactor(PP-133): refactor works showcase category selection logic
  src/components/Header/Navbar/menuMap.ts
  src/components/WorkShowcase/index.tsx
Due: prettier --write, eslint --fix

chore(PP-135): remove hardcoded urls
  src/components/Footer/menuMap.ts
  src/data/certifications.ts
  src/data/education.ts
  src/data/skills.ts
  src/data/workExperience.ts
  src/data/works.ts
Due: prettier --write, eslint --fix

chore(PP-136): enable react router dom future features
  src/index.tsx
Due: prettier --write, eslint --fix

chore(PP-137): update sentry configuration
  src/index.tsx
Due: prettier --write, eslint --fix

fix(PP-139): fix blog card shadow style
  src/components/ui/Card/BlogCard.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

chore(PP-140): enhance menu list style on mobile
  src/components/Header/Navbar/index.tsx
Due: prettier --write, eslint --fix

chore(PP-141): enhance page element selection style
  src/components/Footer/Version/index.tsx
  src/components/Footer/index.tsx
  src/components/Header/Navbar/index.tsx
  src/components/WorkShowcase/index.tsx
  src/components/ui/Section/index.tsx
  src/index.css
  src/pages/Contact/index.tsx
  src/pages/Home/Banner/BannerCard.tsx
  src/pages/Home/Banner/index.tsx
  src/pages/Home/Banner/tabs/FeaturedWorks.tsx
  src/utils/i18n/en.ts
Due: prettier --write, eslint --fix

feat(PP-142): support code block on blog post page
  package-lock.json
  package.json
  src/components/ui/Block/BlogNodeBlock.tsx
  src/components/ui/CodeEditor/index.tsx
  src/index.css
  src/types/blog.ts
Due: prettier --write, eslint --fix

chore(PP-143): enhance blogpost content block display style
  src/components/ui/Block/BlogNodeBlock.tsx
  src/index.css
Due: prettier --write, eslint --fix

chore(PP-144): remove docker compose extra config
  docker-compose.yaml
Due: none

fix: remove extra config
  docker-compose.yaml
Due: none

chore(PP-144): remove docker compose extra config (#72)
  docker-compose.yaml
Due: none

fix: update github ci install command
  .github/workflows/github-ci.yml
Due: none

feat(PP-149): work time display
  src/components/ui/Card/BlogCard.tsx
  src/components/ui/Timeline/index.tsx
  src/utils/common/index.ts
  src/utils/dayjs/index.ts
Due: prettier --write, eslint --fix

chore: optmize styling and time diff func
  src/components/ui/Timeline/index.tsx
  src/utils/common/index.ts
Due: prettier --write, eslint --fix

Feat/pp 149 work time display (#76)
  src/components/ui/Card/BlogCard.tsx
  src/components/ui/Timeline/index.tsx
  src/utils/common/index.ts
  src/utils/dayjs/index.ts
Due: prettier --write, eslint --fix

chore: time diff translations
  src/components/ui/Timeline/index.tsx
  src/utils/common/index.ts
  src/utils/i18n/en.ts
Due: prettier --write, eslint --fix

chore: time diff translations (#77)
  src/components/ui/Timeline/index.tsx
  src/utils/common/index.ts
  src/utils/i18n/en.ts
Due: prettier --write, eslint --fix

chore: only display time diff for work exp
  src/components/ui/Timeline/index.tsx
  src/data/workExperience.ts
Due: prettier --write, eslint --fix

chore: only display time diff for work exp (#78)
  src/components/ui/Timeline/index.tsx
  src/data/workExperience.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.css) or (any of: *.{ts,tsx,js})) or (any of: *.json)
  eslint --fix: any of: *.{ts,tsx,js}
